<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

	<bean id="employeeDao" class="com.ibm.hrnotes.shifttracking.dao.impl.EmployeeDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<bean id="employeeService" class=" com.ibm.hrnotes.shifttracking.service.EmployeeService">
		<property name="employeeDao" ref="employeeDao"></property>
	</bean>

	<bean id="employeeAction" class="com.ibm.hrnotes.shifttracking.action.EmployeeAction"
		scope="prototype">
		<property name="employeeService" ref="employeeService"></property>
	</bean>
	
	<bean id="projectDao" class="com.ibm.hrnotes.shifttracking.dao.impl.ProjectDao">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="projectService" class=" com.ibm.hrnotes.shifttracking.service.ProjectService">
		<property name="projectDao" ref="projectDao"></property>
	</bean>
	
	<!-- Xin Peng Zhang updated begin -->
	
	<bean id="AM_ProjectDaoImpl" class="com.ibm.hrnotes.shifttracking.dao.impl.AM_ProjectDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

    <bean id="Employee_InformationDaoImpl" class="com.ibm.hrnotes.shifttracking.dao.impl.Employee_InformationDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="Employee_PeMDaoImpl" class="com.ibm.hrnotes.shifttracking.dao.impl.Employee_PeMDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="Project_AdminDaoImpl" class="com.ibm.hrnotes.shifttracking.dao.impl.Project_AdminDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="Project_InformationDaoImpl" class="com.ibm.hrnotes.shifttracking.dao.impl.Project_InformationDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

    <bean id="Project_ManagerDaoImpl" class="com.ibm.hrnotes.shifttracking.dao.impl.Project_ManagerDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="Project_MemberDaoImpl" class="com.ibm.hrnotes.shifttracking.dao.impl.Project_MemberDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
	<bean id="ProjectMemberDateShiftRecordDaoImpl" class="com.ibm.hrnotes.shifttracking.dao.impl.ProjectMemberDateShiftRecordDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>
	
    <!-- Xin Peng Zhang update end -->
    
    
    <!-- Updated By Xin Peng Zhang 11/03/2014 Begin -->
    <bean id="Employee_InformationService" class="com.ibm.hrnotes.shifttracking.service.Employee_InformationService">
		<property name="Employee_InformationDaoImpl" ref="Employee_InformationDaoImpl"></property>
		<property name="Employee_PeMDaoImpl" ref="Employee_PeMDaoImpl"></property>
	</bean>
    
    <bean id="Project_InformationService" class="com.ibm.hrnotes.shifttracking.service.Project_InformationService">	
		<property name="Project_InformationDaoImpl" ref="Project_InformationDaoImpl"></property>
		<property name="Project_ManagerDaoImpl" ref="Project_ManagerDaoImpl"></property>
		<property name="Project_AdminDaoImpl" ref="Project_AdminDaoImpl"></property>
		<property name="Project_MemberDaoImpl" ref="Project_MemberDaoImpl"></property>		
		<property name="AM_ProjectDaoImpl" ref="AM_ProjectDaoImpl"></property>
		<property name="ProjectMemberDateShiftRecordDaoImpl" ref="ProjectMemberDateShiftRecordDaoImpl"></property>
	</bean>
    
    <bean id="ProjectAndEmployeeShiftTrackingService" class="com.ibm.hrnotes.shifttracking.service.ProjectAndEmployeeShiftTrackingService">
		<property name="Employee_InformationService" ref="Employee_InformationService"></property>
		<property name="Project_InformationService" ref="Project_InformationService"></property>
	</bean>
	
	<bean id="ProjectAndEmployeeShiftTrackingGetService" class="com.ibm.hrnotes.shifttracking.service.ProjectAndEmployeeShiftTrackingGetService">
		<property name="Employee_InformationService" ref="Employee_InformationService"></property>
		<property name="Project_InformationService" ref="Project_InformationService"></property>
	</bean>
    
	<!-- Updated By Xin Peng Zhang 11/03/2014 End -->

	
</beans>
